body{
    background-color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
}

#blue-title{
    color: black;
    -webkit-animation: neon2 2s ease-in-out infinite alternate;
    -moz-animation: neon2 2s ease-in-out infinite alternate;
    animation: neon2 2s ease-in-out infinite alternate;
}
#blue-hover:hover{
    color: #6EC2F6;
    transition: 1000s;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #6EC2F6;
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}
.navbar-default .navbar-nav > li > a{
    color: #ffffff;
    border-color: black;
    background-color: black;
}
.page-header{
    border-color: #6EC2F6;
}


#black-nav{
    background-color: black;
}
.btn-success{
    background-color: #6EC2F6;
    border-radius: 300px;
    text-transform: uppercase;
    border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar{
   color:white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: black;
}
#posterSize img{
    height: 350px;
    width: 282px;
    padding: 10px;
}

#contact {
   /*** place holder for contact page ***/
}

#payment {
    background:#333333;
    color:#f4f4f4;
    text-align: center;

}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    text-align: center;
}

footer span.copyright {
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}
footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}
ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    display: block;
    background-color: #222222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active{
    background-color: #6EC2F6;
}
ul.social-buttons{
    padding: 5px;
}
.btn-primary{
    color: white;
    background-color: #6EC2F6;
    border-radius: 300px;
    text-transform: uppercase;
    border-color: transparent;
    margin:5px;
}
#right-btn{
    float: right;
}
.btn-danger{
    border-radius: 300px;
    text-transform: uppercase;
    margin:5px;
    border-color: transparent;
}
.btn-warning {
    border-radius: 300px;
    text-transform: uppercase;
    margin:5px;
    border-color: transparent;
}

#margBottom{
    margin-bottom: 20px;
}
h1{
    font-family: 'Audiowide', cursive;
}

/*
 * Animation Effects
 */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */


/** Basic styles for an animated element */
.scene_element {
    animation-duration: 1s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

}


/** An element that fades in */
.scene_element--fadein {
    animation-name: fadeIn;
}

/** An element that fades in and slides up */
.scene_element--fadeinup {
    animation-name: fadeInUp;
}

/** An element that fades in and slides from the right */
.scene_element--fadeinright {
    animation-name: fadeInRight;
}

/*glow for webkit*/
@-webkit-keyframes neon2 {
    from {
        text-shadow: 0 0 5px #fff, 0 0 0px #fff, 0 0 00px #fff, 0 0 0px #228DFF, 0 0 0px #228DFF, 0 0 0px #228DFF, 0 0 00px #228DFF, 0 0 0px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 00px #fff, 0 0 0px #fff, 0 0 00px #228DFF, 0 0 0px #228DFF, 0 0 0px #228DFF, 0 0 50px #228DFF, 0 0 30px #228DFF;
    }
}
/*glow for mozilla*/
@-moz-keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
}

/***************RATING STAR****************/

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

/******** LOGIN FORM ********/
.login-form {
    margin: auto;
    width: 35%;
}

/******** REGISTER FORM ********/
.reg-form {
    margin: auto;
    width: 50%;
}

/****** CONTACT FORM *********/
.con-form {
    margin: auto;
    width: 60%;
}

/**** CONTACT BUTTON *****/
.con-button {
    padding: 10px;
}
/********** CONTACT Popup container ***********/
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}