html {
    margin: 0px;
    height: 100%;
    width: 100%;
}
body{
    background-color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

#blue-title{
    color: #222222;
    -webkit-animation: neon2 2s ease-in-out infinite alternate;
    -moz-animation: neon2 2s ease-in-out infinite alternate;
    animation: neon2 2s ease-in-out infinite alternate;
}
#blue-hover:hover{
    color: #6EC2F6;
    transition: 1000s;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #6EC2F6;
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}
.navbar-default .navbar-nav > li > a{
    color: white;
    border-color: #222222;
    background-color: #222222;
}
.page-header{
    border-color: #6EC2F6;
}


#black-nav{
    background-color:#222222;
    margin-bottom: 5px;
}
.btn-success{
    background-color: #6EC2F6;
    border-radius: 300px;
    text-transform: uppercase;
    border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar{
   color:white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: #222222;
}
#posterSize img{
    height: 350px;
    width: 282px;
    padding: 10px;
}
#footerid{
    background-color: #222222;
    height: 50px;
    width: auto;
}
footer {
    text-align: center;
}
footer span.copyright {
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}
footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}
ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    display: block;
    background-color: #222222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active{
    background-color: #6EC2F6;
}
ul.social-buttons{
    padding: 5px;
}
.btn-primary{
    color: white;
    background-color: #6EC2F6;
    border-radius: 300px;
    text-transform: uppercase;
    border-color: transparent;
    margin:5px;
}
#right-btn{
    float: right;
}
.btn-danger{
    border-radius: 300px;
    text-transform: uppercase;
    margin:5px;
    border-color: transparent;
}
.btn-warning {
    border-radius: 300px;
    text-transform: uppercase;
    margin:5px;
    border-color: transparent;
}

#margBottom{
    margin-bottom: 20px;
}
h1{
    font-family: 'Audiowide', cursive;
}

/*
 * Animation Effects
 */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */


/** Basic styles for an animated element */
.scene_element {
    animation-duration: 1s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

}


/** An element that fades in */
.scene_element--fadein {
    animation-name: fadeIn;
}

/** An element that fades in and slides up */
.scene_element--fadeinup {
    animation-name: fadeInUp;
}

/** An element that fades in and slides from the right */
.scene_element--fadeinright {
    animation-name: fadeInRight;
}

/*glow for webkit*/
@-webkit-keyframes neon2 {
    from {
        text-shadow: 0 0 5px #fff, 0 0 0px #fff, 0 0 00px #fff, 0 0 0px #228DFF, 0 0 0px #228DFF, 0 0 0px #228DFF, 0 0 00px #228DFF, 0 0 0px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 00px #fff, 0 0 0px #fff, 0 0 00px #228DFF, 0 0 0px #228DFF, 0 0 0px #228DFF, 0 0 50px #228DFF, 0 0 30px #228DFF;
    }
}
/*glow for mozilla*/
@-moz-keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
}
