@(user: models.users.User, films: List[models.Film], env: play.api.Environment)
@adminPages.adminMain("Admin Homepage", user) {
    @if(flash().containsKey("success")){
        <div class="row">
            <div class="col-xs-4">
                <div class="alert alert-success">
                    <strong>@flash().get("success")</strong>
                </div>
            </div>
        </div>

    }
    @for(f <- films){
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="padding-top: 10px;">@f.getTitle</h1>
            </div>
        </div>
        <div class="row">
            <div class="m-header scene_element scene_element--fadein">
                <div class="col-lg-3 col-sm-12" id="posterSize">
                    @if(env.resource("public/images/FilmPosters/" + f.getTitle + ".jpg").isDefined){
                        <img src="/assets/images/FilmPosters/@(f.getTitle + ".jpg")" />
                    }else{
                        <img src="/assets/images/FilmPosters/noImage.jpg" />
                    }
                </div>
            </div>
            <div class="m-header scene_element scene_element--fadeinright">
                <div class="col-lg-9">
                    <p><b>Description:</b> @f.getSummery</p>
                    <p><b>Director:</b> @f.getDirector</p>
                    <p><b>Duration:</b> @f.getDuration (Mins)</p>
                    <p><b>Trailer URL:</b> <a href="@f.getTrailerURL">YouTube</a></p>
                    <p><a class="btn btn-lg btn-danger" id="right-btn" href="@routes.AdminController.deleteMovie(f.getTitle)" role="button" onclick="return confirmDel();">Delete</a></p>
                    <p><a class="btn btn-lg btn-primary" id="right-btn" href="@routes.AdminController.updateMovie(f.getTitle)" role="button">Update</a></p>
                    <p><a class="btn btn-lg btn-primary" id="right-btn" href="@routes.AdminController.adminShowing(f.getTitle)" role="button">Showings</a></p>
                        <!--uses the films id to access the showing for that particular film-->

                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="padding-top: 10px;">Add New Film</h1>
        </div>
    </div>
    <p><a class="btn btn-lg btn-primary" href="@routes.AdminController.adminAddFilm()" role="button">Add New Film</a>

    <script>
        function confirmDel() {
            return confirm('Are you sure?');
        }
    </script>
}
