@(addFilmForm: Form[models.Film], user: models.users.User, error: String)
@import helper._

@adminPages.adminMain("Add Film", user) {
    <div class="m-header scene_element scene_element--fadein">
        <div class="row">
            <h1 class="page-header" style="text-align: center">Add a new Film</h1>
            <div class="col-xs-6 col-xs-offset-3">
                <div class="panel panel-default credit-card-box">
                    <div class="panel-body">
                        @if(error != null) {
                            <div class="alert alert-warning">
                                <strong>@error</strong>
                            </div>
                        }

                        @helper.form(action = controllers.routes.AdminController.addFilmSubmit(), 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data") {
                            @inputText(addFilmForm("title"), '_label -> "Title:", 'class -> "form-control")
                            @inputText(addFilmForm("director"), '_label -> "Director:", 'class -> "form-control")
                            @inputText(addFilmForm("trailerURL"), '_label -> "Trailer (Embedded URL Link):", 'class -> "form-control")
                            @inputText(addFilmForm("duration"), '_label -> "Duration (Mins):", 'class -> "form-control")
                            @inputText(addFilmForm("summery"), '_label -> "Description:", 'class -> "form-control")
                            <label>Poster Upload:</label>
                            <input class="btn-sm btn-default" id="margBottom" type="file" name="upload">


                            <div class="span7 text-center">
                                <input type="submit" value="Add Film" class="btn btn-lg btn-primary">
                                <a href="@routes.AdminController.adminFilm()" <button class="btn btn-lg btn-warning">
                                Cancel</button></a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
        <!--Created by Evan-->
}
}