@(user: models.users.User, addShowingForm: Form[models.Showing])
@import helper._

@adminPages.adminMain("Add Film", user){

  <h4>Add a new Showing</h4>
  @form(action = routes.AdminController.adminShowingSubmit(), 'class -> "form-horizontal", 'role -> "form",
    'enctype -> "multipart/form-data") {
    @inputText(addShowingForm("screen"), '_label -> "Screen", 'class -> "form-control")
    @inputText(addShowingForm("date"), '_label -> "Date", 'class -> "form-control")
    @inputText(addShowingForm("time"), '_label -> "Time", 'class -> "form-control")
      <!-- Hidden ID field - required for Showing updates! -->
    @inputText(addShowingForm("id"), '_label -> "", 'hidden -> "hidden")

      <!--Image Upload Input-->

    <div class="actions" id="margBottom">
      <input type="submit" value="Add Showing" class="btn btn-primary">
      <a href="@routes.AdminController.adminFilm()" <button class="btn btn-warning">Cancel</button></a>
    </div>
  }
  }