@(newPaymentForm: Form[models.carousel], user: models.users.User, error: String)
@import helper._
<!--Created by Evan-->
@adminPages.adminMain("Add Carousel", user) {
    <div class="m-header scene_element scene_element--fadein">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <h3>Add a new slide to the main carousel</h3>
                <div class="panel panel-default credit-card-box">
                    <div class="panel-body">
                        @if(error != null) {
                            <div class="alert alert-warning">
                                <strong>@error</strong>
                            </div>
                        }

                        @helper.form(action = controllers.routes.AdminController.addCarouselSubmit(), 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data") {
                            @inputText(newPaymentForm("title"), '_label -> "Title", 'class -> "form-control")
                            @inputText(newPaymentForm("description"), '_label -> "Description", 'class -> "form-control")
                            <label>Banner Upload</label>
                            <input class="btn-sm btn-default" id="margBottom" type="file" name="upload">


                            <div class="actions" id="margBottom">
                                <input type="submit" value="Add Slide" class="btn btn-primary">
                                <a href="@routes.AdminController.adminFilm()" <button class="btn btn-warning">Cancel</button></a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
}
}