@(user: models.users.User, film: models.Film, env: play.api.Environment, show: models.Showing, time: String, error: String)

@main("Booking", user){
    @if(film != null){
        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Booking</h1>
                <div class="m-header scene_element scene_element--fadeinright">
                    <div class="jumbotron">
                        <p><b>Title:</b> @film.getTitle</p>
                        <p><b>Date:</b> @show.getDate </p>
                        <p><b>Time:</b> @time</p>

                        <form method="post" action="@routes.HomeController.bookingSubmit()" class="form-horizontal">
                            @*Number of ticket selection*@
                            <select id="qty" name="qty">
                                <option value="0">Select</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <input type="hidden" id="title" name="title" class="form-control" value="@film.getTitle"/>
                            <div class="actions" id="margBottom">
                                <input type="submit" value="Add Booking" class="btn btn-primary">
                                <a href="@routes.AdminController.adminFilm()" <button class="btn btn-warning">Cancel</button></a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
            </div>
            }else{
        <h1>Booking not available</h1>
    }
</div>


}
