@(user: models.users.User, film: models.Film, env: play.api.Environment, showings: List[models.Showing])
@main("Film", user) {
    @if(film != null) {
        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">@film.getTitle</h1>
            </div>
        </div>
        <div class="row">
            <div class="m-header scene_element scene_element--fadein">
                <div class="col-lg-3 col-sm-12" id="posterSize">
                @if(env.resource("public/images/FilmPosters/" + film.getTitle + ".jpg").isDefined) {
                    <img src="/assets/images/FilmPosters/@(film.getTitle + ".jpg")" />
                } else {
                    <img src="/assets/images/FilmPosters/noImage.jpg" />
                }
                </div>
            </div>
            <div class="m-right-panel m-page scene_element scene_element--fadeinright">
                <div class="col-lg-9">
                    <p><b>Description:</b> @film.getSummery</p>
                    <p><b>Director:</b> @film.getDirector</p>
                    <p><b>Duration:</b> @film.getDuration Mins</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Trailer</h1>
            </div>
        </div>
            <!-- /.row -->
            <!-- 16:9 aspect ratio -->
        <div class="m-page scene_element scene_element--fadeinup">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="@film.getTrailerURL"></iframe>
            </div>
        </div>
            <!-- Portfolio Item Row -->
            <!-- Dates & times pulled from db when clicked brought to buy page where qty and purchase is done-->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Showings</h1>
                @for(s <- showings) {
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="page-header" style="padding-top: 10px;">@s.getDate</h3>
                            @for(t <- s.getTimes) {
                                <a class="btn btn-primary" href="@routes.HomeController.booking(s.getTitle, s.getShowingId, t.getTime)" role="button">@t.getTime</a>
                            }
                        </div>
                    </div>
                }
            </div>
            } else {
        <h1>Movie Not Found</h1>
    }
</div>
}
    <!--Created by Evan-->