@(loginForm: Form[models.users.Login])
@import helper._
@main("Login", null) {
  @if(flash().containsKey("error")){
    <div class="row">
      <div class="col-xs-4">
        <div class="alert alert-danger">
          <strong>@flash().get("error")</strong>
        </div>
      </div>
    </div>

  }
  <div class="m-page scene_element scene_element--fadeinright">
    <div class="row">
      <div class="col-xs-4">
        <div class="centered">
        @helper.form(action = controllers.routes.LoginController.loginSubmit()){
          <div class="form-group">
          @inputText(loginForm("email"), '_label -> "", 'class -> "form-control input-xs", 'placeholder -> "Email")
          </div>
          <div class="form-group">
          @inputPassword(loginForm("password"), '_label -> "", 'class -> "form-control input-xs", 'placeholder -> "Password")
          </div>
          <div class="form-group">
            <input type="submit" value="Sign In" class="btn btn-primary">
          </div>
        }
        </div>
      </div>
    </div>
  </div>

}