@(loginForm: Form[models.users.Login])
@import helper._
@main("Login", null) {
  @if(flash().containsKey("error")){
    <div class="row">
      <div class="col-xs-4">
        <div class="alert alert-danger">
          <strong>@flash().get("error")</strong>
        </div>
      </div>
    </div>

  }
  <div class="col-xs-4, m-page scene_element scene_element--fadeinright">
        @helper.form(action = controllers.routes.LoginController.loginSubmit()){
          <div class="login-form">
            <h4>Login</h4>
          @inputText(loginForm("Email"), '_label -> "", 'class -> "form-control input-xs", 'placeholder -> "Email")
          </div>
          <div class="login-form">
            <h4>Password</h4>
          @inputPassword(loginForm("Password"), '_label -> "", 'class -> "form-control input-xs", 'placeholder -> "Password")
          </div>
          <div class="login-form">
            <input type="submit" value="Sign In" class="btn btn-primary">
          </div>
         }
</div>

}