@(loginForm: Form[models.users.Login])
    @import helper._
    @main("Login", null) {
        @if(flash().containsKey("error")) {
            <div class="row">
                <div class="col-xs-4">
                    <div class="alert alert-danger">
                        <strong>@flash().get("error")</strong>
                    </div>
                </div>
            </div>

        }
        <div class="m-page scene_element scene_element--fadein">
            <h1 class="page-header" style="text-align: center">Sign In</h1>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                    <div class="panel panel-default credit-card-box">
                        <div class="panel-body">
                            <div class="centered">
                            @helper.form(action = controllers.routes.LoginController.loginSubmit()) {
                                <div class="form-group">
                                @inputText(loginForm("email"), '_label -> "Email:", 'class -> "form-control input-xs", 'placeholder -> "XXXXX@email.com")
                                </div>
                                <div class="form-group">
                                @inputPassword(loginForm("password"), '_label -> "Password:", 'class -> "form-control input-xs", 'placeholder -> "Password")
                                </div>
                                <div class="span7 text-center">
                                    <input type="submit" value="Sign In" class="btn btn-primary">
                                </div>
                            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }