@(newPaymentForm: Form[models.Payments], user: models.users.User, env: play.api.Environment, error: String)
@import helper._

@main("Ticket Payment", user) {
    @if(film != null) {
        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Payment</h1>
                <div class="col-lg-5">
                    <div class="m-header scene_element scene_element--fadeinright">
                        <div class="panel panel-default credit-card-box">
                            <div class="panel-body">
                                <p><b>Title:</b> </p>
                                <p><b>Date:</b> </p>
                                <p><b>Time:</b> </p>
                                <p><b>Quantity:</b></p>
                                <p><b>Total:</b></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="m-header scene_element scene_element--fadeinright">
                            <!-- CREDIT CARD FORM STARTS HERE -->
                        @helper.form(action = controllers.routes.PaymentController.paymentSubmit(), 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data") {
                        <div class="panel panel-default credit-card-box">
                            <div class="panel-body">
                                <div class="row">
                                    <img class="img-responsive center-block" src="http://i76.imgup.net/accepted_c22e0.png">
                                    <div class="col-xs-12">
                                        @inputText(newPaymentForm("name"), '_label -> "Namew", 'class -> "form-control")
                                    }
                                        <br>
                                        <label for="cardNumber">Card Number:</label>
                                        <input type=text class="form-control" id="cardNumber" maxlength="16">
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                        <br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-md-6">
                                        <label for="expMonth">Expiry:</label>
                                        <select required class="form-control" id="expMonth">
                                            <option>Month</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                        <label></label>
                                        <select class="form-control" id="expYear">
                                            <option>Year</option>
                                            <option>2017</option>
                                            <option>2018</option>
                                            <option>2019</option>
                                            <option>2020</option>
                                            <option>2021</option>
                                            <option>2022</option>
                                            <option>2023</option>
                                            <option>2024</option>
                                            <option>2025</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-lg-offset-3">
                                        <label for="cvv2">CVV2:</label>
                                        <input required type=text class="form-control" id="cvv2" maxlength="3">
                                        <br>
                                    </div>
                                </div>
                                    <input type="submit" value="Confirm Purchase" class="btn btn-primary">
                                    <a href="@routes.HomeController.index()"></a> <button class="btn btn-warning">Cancel</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    } else {
        <h1>Booking not available</h1>
    }


}
