@(addUserForm: Form[models.users.User], error: String)
@import helper._

@main("Sign Up Page", null) {
    <div class="row">
        <div class="col-lg-5">
            @if(error != null){
                <div class="alert alert-warning">
                    <strong>@error</strong>
                </div>
            }
        @helper.form(action = controllers.routes.HomeController.addUserSubmit(), 'class -> "form-horizontal", 'role -> "form") {
            @inputText(addUserForm("email"), '_label -> "Email", 'class -> "form-control")
            @inputText(addUserForm("name"), '_label -> "Name", 'class -> "form-control")
            @select(addUserForm("role"), options("select" -> "--- Please Select ---", "Admin" -> "Admin", "Customer" -> "Customer"), '_label -> "Role")
            @inputPassword(addUserForm("password"), '_label -> "Password", 'class -> "form-control")
            @inputPassword(addUserForm("passwordConfirm"), '_label -> "Confirm Password", 'class -> "form-control")
            <div class="actions" id="margBottom">
                <input type="submit" value="Add User" class="btn btn-primary">
                <a href="@routes.HomeController.index()" <button class="btn btn-warning">Cancel</button></a>
            </div>
        </div>
    </div>
    }
}